body {
    font-size: 1.8rem;
    font-family: 'IBM Plex Mono', monospace;
    color: #000;
    background: #fff;
}

hr {
    margin-top: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

h4, h5, p, .sidebar, .intro, .pub-title, .pub-venue, .pub-authors, .pub-code, .name-title, .text {
    font-family: 'IBM Plex Mono', monospace;
}

h5 {
    font-size: 2.0rem;
}

@media (min-width: 550px) {
    h5 {
        font-size: 2.6rem;
    }
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    border: none;
    height: 4rem;
    margin-top: 3%;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar ul {
    list-style: none;
}

.navbar-item {
    float: right;
    color: #c31;
}

.navbar-list {
    padding-right: 40px;
}

a {
    color: #c31;
    text-decoration: none;
}

a:hover {
    color: #11aacc;
}

img {
    max-width: 100%;
}

.sidebar {
    text-align: center;
    font-size: 1.8rem;
}

.sidebar span {
    display: block;
}

.sidebar a {
    color: #0b0b0b;
}

.sidebar a:hover {
    color: #c31;
}

.headshot {
    width: 150px;
    border-radius: 50%;
}

.pub-image {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub-image1 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pub-image1 img {
    max-height: 60px;
}

.pub-image img {
    max-height: 110px;
}

.pub-venue {
    font-size: 1.5rem;
    font-style: italic;
}

.pub-authors {
    font-size: 1.4rem;
}

.pub-code {
    font-size: 1.6rem;
    padding-bottom: 20px;
}

.pub-title {
    font-size: 1.6rem;
}

.name-title {
    font-weight: normal;
}

.publication {
    padding-bottom: 30px;
}

.fw6 {
    font-weight: 600;
}
